.landingWrapper {
  width: 100%;
  min-height: 100vh;
  background: url("../../Assets/img/BG.png") center no-repeat;
  background-size: cover;
}
.ItemCenter {
  display: flex;
  align-items: center;
  min-height: 25rem;
  margin-top: 10rem;
}
.ItemCenter h1 {
  font-weight: 700;
}

.landingFooter > h4 {
  max-width: 18rem;
  color: var(--fontColor2);
  font-size: 1.2rem;
  font-weight: 600;
}
.landingCards {
  display: flex;
  gap: 20px;
  padding-top: 2rem;
}

.addSpace {
  width: 100%;
  margin: 80px 0;
  padding: 50px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.addSpace h4 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* section 3 */

.section3 {
  width: 100%;
  padding: 100px 0;
  background: url("../../Assets/img/BG2.png") center no-repeat;
  background-size: cover;
}
.smallCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 30px;
}
.sCardData {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}
.sCardData > h5 {
  color: var(--fontColor2);
  font-weight: 600;
  padding: 10px 0;
}
.sCardData > h2 {
  color: var(--fontColor);
  font-weight: 700;
}

.sCardData > p {
  font-size: 1.2rem;
  color: var(--fontColor2);
}

/* section 4 */
.section4 {
  padding-bottom: 50px;
}
.s4Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s4Header > h2 {
  font-weight: 700;
  font-size: 2rem;
}
.MainCards {
  display: flex;
  gap: 15px;
}
.customFS {
  padding: 5px 30px;
  border-radius: 30px;
  font-weight: 600;
}
.tagsUl {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.active2 {
  color: white !important;
  background: var(--primaryColor) !important;
}
.tagsUl > li > button {
  padding: 5px 20px;
  border-radius: 30px;
  border: none;
  background: white;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
}
.tagsUl > li > button:hover {
  color: white;
  background: var(--primaryColor);
}

/* sectiono 5 */
.section5 {
  padding: 80px 0;
}
.uf > h2 {
  font-weight: 700;
  font-size: 2.3rem;
  padding-bottom: 10px;
}
.uf > p {
  color: var(--fontColor2);
}
.divCenter {
  width: 100%;
  text-align: center;
  padding: 30px;
}
.divCenter > img {
  width: 70px;
}

.ufr > img {
  width: 50px;
}
.ufr > p {
  font-size: 1.1rem;
  padding: 30px 0;
  color: var(--fontColor2);
}
.willSmilth {
  width: 120px !important;
  padding-bottom: 10px;
}
.ufr > h4 {
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 10px;
  margin: 0;
}
.ufr > span {
  color: var(--fontColor2);
}

/* responsive design */
@media only screen and (max-width: 967px) {
  .ItemCenter {
    min-height: 5rem;
    padding: 20px;
  }
  .logoImg {
    padding-top: 0px !important;
  }
  .landingFooter {
    padding: 20px;
  }
  .mobileItemCenter {
    margin-top: 0px;
  }
  .landingCards {
    display: initial;
  }
  .s4Header > h2 {
    font-size: 1.4rem;
  }
  .tagsUl > li > button {
    font-size: 12px;
  }
  .MainCards {
    display: initial;
  }
  .LandingCard {
    margin-top: 20px;
  }
  .section3 {
    padding: 20px;
  }
  .customFS {
    min-width: 160px;
  }
  .csCard {
    margin-bottom: 20px;
  }
  .section5 {
    padding: 20px;
  }
  .ufr {
    text-align: center;
  }
}
